
<h2 id="intro-example" class="mb-3">Find Movies</h2>

<div class="mb-2 text-light">
    Search here: <input type="search" class="form-control" data-bind="textInput: searchInput" required />
    <button type="submit" data-bind="click: createSearch" class="btn btn-primary">Search</button>
</div>
<table class="table table-dark  table-hover">
   
    <tbody data-bind="foreach: bestMatchSearch">
        <tr>
            <td scope="col">
                <span data-bind="text: title"></span>
                <button class="btn btn-info btn-sm" data-bind="click: $parent.SeeDetails">See details</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="navigation-buttons last-item">
    <button data-bind="click: showPreviousPage, enable: enablePreviousPage">Prev</button>
    <button data-bind="click: showNextPage, enable: enableNextPage">Next</button>
</div>