﻿<h2>Register</h2>
<div class="container">
    Name: <input placeholder ="Your Name"class="form-control" data-bind="value: name" />
    Username: <input placeholder="Enter Username" class="form-control" data-bind="value: username" />
    Password: <input  placeholder="Enter Password" type="password" class="form-control" data-bind="value: password" />
    
        <button class="btn btn-primary col-4 mt-3" data-bind="click: register">Register</button>
        <button class="btn btn-danger col-4 mt-3 offset-1" data-bind="click: cancel">Cancel</button>
   
</div>