﻿<h2>Register</h2>
<div class="col-6">
    Name: <input class="form-control" data-bind="value: name" />
    Username: <input class="form-control" data-bind="value: username" />
    Password: <input type="password" class="form-control" data-bind="value: password" />
    <div class="row justify-content-center">
        <button class="btn btn-primary col-4 mt-3" data-bind="click: register">Register</button>
        <button class="btn btn-danger col-4 mt-3 offset-1" data-bind="click: cancel">Cancel</button>
    </div>
</div>