﻿<h1 class="">Login</h1>
 <div class="container">
     Username: <input placeholder="Enter Username" class="form-control" data-bind="value: username" required />
     Password: <input type="password" placeholder="Enter Password" class="form-control" data-bind="value: password" required />
     <button class="btn btn-primary btn-floating btn-rounded btn-floating col-4 mt-3" data-bind="click: login">Login</button>
     <button class="btn btn-dark col-4 mt-3 offset-1" data-bind="click: goreg">Go Register</button>
 
 </div>