<h1>Person Details</h1>


<table class="person-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>BirthYear</th>
            <th>DeathYear</th>
            <th>Known for titles</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: nameOtherview">
        <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: birthYear"></td>
            <td data-bind="text: deathYear"></td>
            <td data-bind="text: knownForTitles"></td>
        </tr>
    </tbody>
</table>
<table class="coplayers">
    <thead>
        <tr><th>Frequent CoPlayers</th></tr>
    </thead>
    <tbody data-bind="foreach: findingCoPlayers">
        <tr>
            <td data-bind="text: primary_Name"></td>

        </tr>
    </tbody>
</table>

<div class="navigation-buttons">
    <button class="btn btn-info btn-sm" data-bind="click: Back">Back</button>
    <button class="btn btn-info btn-sm" data-bind="click: BookmarkPeople">Bookmark this person</button>
    <div data-bind="text: status"></div>
</div>