<!--<h1>Movie Details</h1>-->
<div data-bind="foreach: titleOtherview">
    <hr />
    <h1 data-bind="text: title"></h1>
    <hr>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4" data-bind="foreach: titleOtherview">
            <img data-bind="attr:{src: poster}" />
        </div>
        <div class="col-sm-7">
            <table data-bind="foreach: titleOtherview">
                <tr>
                    <th>Plot</th>
                    <td data-bind="text: plot"></td>
                </tr>
                <tr>
                    <th>Awards</th>
                    <td data-bind="text: awards"></td>
                </tr>
                <tr>
                    <th>Genre</th> 
                    <td data-bind="text: genre"></td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td data-bind="text rating"></td>
                </tr>
            </table>
        </div>


    </div>


</div>






<!-- OLD LAYOYT -->
<!--<table class="table-borderless">
 
    <thead>
            <tr>
                <th>Poster</th>
                <th>Plot</th>
                <th>Awards</th>
                <th>Rating</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: titleOtherview">
            <tr>
                <td><img data-bind="attr:{src: poster}" /></td>
                <td data-bind="text: plot"></td>
                <td data-bind="text: awards"></td>
                <td data-bind="text: rating"></td>
                <td data-bind="text: genre"></td>

            </tr>
        </tbody>
    </table>

    <div data-bind="text: $parent.tconst"></div>
    <table class="similar-movies">
        <thead>
            <tr><th>Similar Movies/TvSeries</th></tr>
        </thead>
        <tbody data-bind="foreach: similarMovies">
            <tr>
                <td data-bind="text: title"></td>

            </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2> Actors</h2>

            </div>
        </div>


        <div class="row">
           <div class="col-sm-4" data-bind="foreach: popularActors">
            <p data-bind="text:name"></p>

             </div>


         </div>

        <div class="row">
            <table class="table-borderless">
            <tbody data-bind="foreach: popularActors">
                <tr>
                    <td data-bind="text: name"></td>


                </tr>
            </tbody>
            </table>
        </div>
    </div>-->
    <!-- END OF OLD LAYOYT -->
    <!--<table class="popular-actors">
        <thead>
            <tr><th>Actors</th></tr>
        </thead>
        <tbody data-bind="foreach: popularActors">
            <tr>
                <td data-bind="text: name"></td>-->
    <!--<td data-bind="text: popularity"></td>-->
    <!--</tr>
        </tbody>
    </table>-->

    <div class="rating-option">
        Rate this movie (between 1 and 10) <input type="text" data-bind="textInput: rateinput" />
        <button type="submit" class="btn btn-info btn-sm" data-bind="click: rateMovie">Rate</button>
    </div>


    <div class="navigation-buttons">
        <button class="navigation-buttons" data-bind="click: Back">Back</button>
        <button class="navigation-buttons" data-bind="click: BookamrkMovie">Bookmark this movie</button>
        <div data-bind="text: status"></div>
    </div>
