<div data-bind="foreach: titleOtherview">
    <hr />
    <h1 data-bind="text: title"></h1>
    <hr>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4" data-bind="foreach: titleOtherview">
            <img data-bind="attr:{src: poster}" />
        </div>
        <div class="col-sm-7">
            <table data-bind="foreach: titleOtherview">
                <tr>
                    <th>Plot</th>
                    <td data-bind="text: plot"></td>
                </tr>
                <tr>
                    <th>Awards</th>
                    <td data-bind="text: awards"></td>
                </tr>
                <tr>
                    <th>Genre</th>
                    <td data-bind="text: genre"></td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td data-bind="text: rating"></td>

                </tr>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <h2>Actors</h2>
        </div>
    </div>
    <div class="row">
        <div class="list-group list-group-horizontal col flex-sm-row flex-column" data-bind="foreach: popularActors">
            <h5 class="col" data-bind="text:name"> </h5>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Similar Movies</h2>
        </div>
    </div>
    <div class="row">
        <div class="list-group list-group-horizontal col flex-sm-row flex-column" data-bind="foreach: similarMovies">
         
            <h5 class="col" data-bind="text:title"> </h5>
        </div>
    </div>


</div>


<hr>
    <div class="rating-option">
        Rate this movie (between 1 and 10) <input type="text" data-bind="textInput: rateinput" />
        <button type="submit" class="btn btn-info btn-sm" data-bind="click: rateMovie">Rate</button>
    </div>


    <div class="navigation-buttons">
        <button class="navigation-buttons" data-bind="click: Back">Back</button>
        <button class="navigation-buttons" data-bind="click: BookamrkMovie">Bookmark this movie</button>
        <div data-bind="text: status"></div>
    </div>
