<div data-bind="foreach: titleOtherview">
    <hr />
    <h1 data-bind="text: title"></h1>
    <hr>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4" data-bind="foreach: titleOtherview">
            <img data-bind="attr:{src: poster}" />
        </div>
        <div class="col-sm-7">
            <table data-bind="foreach: titleOtherview">
                <tr>
                    <th>Plot</th>
                    <td data-bind="text: plot"></td>
                </tr>
                <tr>
                    <th>Awards</th>
                    <td data-bind="text: awards"></td>
                </tr>
                <tr>
                    <th>Genre</th>
                    <td data-bind="text: genre"></td>
                </tr>
                <tr>
                    <th>Minutes</th>
                    <td data-bind="text:lenght"></td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td data-bind="text: rating"></td>

                </tr>
            </table>

            
                <button type="submit" class="btn btn-info btn-sm" data-bind="click: rateMovie">Rate</button>
            </div>
        </div>

    </div>
    <!-- There should be the rating -->
           <div class="row">
            <h5>Star Rating | 10 Stars</h5>
            <fieldset class="rate" >
                <input id="rate3-star10" type="radio" name="rate3" value="5" />
                <label for="rate3-star10" title="Awesome">10</label>

                <input id="rate3-star9" type="radio" name="rate3" value="9"  />
                <label for="rate3-star9" title="Excellent">9</label>

                <input id="rate3-star8" type="radio" name="rate3" value="8" />
                <label for="rate3-star8" title="Very good">8</label>

                <input id="rate3-star7" type="radio" name="rate3" value="7" />
                <label for="rate3-star7" title="Good">7</label>

                <input id="rate3-star6" type="radio" name="rate3" value="6" />
                <label for="rate3-star6" title="Satisfactory">6</label>

                <input id="rate3-star5" type="radio" name="rate3" value="5" />
                <label for="rate3-star5" title="Unsatisfactory">5</label>

                <input id="rate3-star4" type="radio" name="rate3" value="4" />
                <label for="rate3-star4" title="Bad">4</label>

                <input id="rate3-star3" type="radio" name="rate3" value="3" />
                <label for="rate3-star3" title="Very bad">3</label>

                <input id="rate3-star2" type="radio" name="rate3" value="2" />
                <label for="rate3-star2" title="Awful">2</label>

                <input id="rate3-star1" type="radio" name="rate3" value="1" />
                <label for="rate3-star1" title="Horrific">1</label>
            </fieldset>
        </div>
    

    <div class="row">
        <div class="col">
            <h2>Actors</h2>
        </div>
    </div>
    <div class="row">
        <div class="list-group list-group-horizontal col flex-sm-row flex-column" data-bind="foreach: popularActors">
            <h5 class="col" data-bind="text:name"> </h5>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Similar Movies</h2>
        </div>
    </div>
    <div class="row">
        <div class="list-group list-group-horizontal col flex-sm-row flex-column" data-bind="foreach: similarMovies">

            <h5 class="col" data-bind="text:title"> </h5>
        </div>
    </div>


</div>



<hr>

<!-- old rating system -->
<!--<div class="rating-option">
    Rate this movie (between 1 and 10) <input type="text" data-bind="textInput: rateinput" />
    <button type="submit" class="btn btn-info btn-sm" data-bind="click: rateMovie">Rate</button>
</div>-->
<!-- kinda good rating system -->
<!--<div class="row">
    <div class="col">
        <input type="range" data-bind="value: setRating, valueUpdate: 'input'" min="1" max="10" />-->
        <!--<input type="number" data-bind="value: setRating" min="1" max="10" />-->
        <!--<button type="submit" class="btn btn-info btn-sm" data-bind="click: rateMovie">Rate</button>
    </div>
</div>-->

<!-- adding star system-->
<!--<div class="row">
    <div class="col-lg-12">
        <div class="star-rating">
            <span class="fa fa-star-o" data-rating="1"></span>
            <span class="fa fa-star-o" data-rating="2"></span>
            <span class="fa fa-star-o" data-rating="3"></span>
            <span class="fa fa-star-o" data-rating="4"></span>
            <span class="fa fa-star-o" data-rating="6"></span>
            <span class="fa fa-star-o" data-rating="7"></span>
            <span class="fa fa-star-o" data-rating="8"></span>
            <span class="fa fa-star-o" data-rating="9"></span>
            <span class="fa fa-star-o" data-rating="10"></span>

            <input type="hidden" name="whatever1" class="rating-value" value="1">
        </div>
    </div>
</div>-->



<div class="navigation-buttons">
    <button class="navigation-buttons" data-bind="click: Back">Back</button>
    <button class="navigation-buttons" data-bind="click: BookamrkMovie">Bookmark this movie</button>
    <div data-bind="text: status"></div>
</div>

