<h2>Find Persons</h2>

<div class="col-6">
    Search here: <input type="search" class="form-control" data-bind="textInput: searchInput" required />
    <button type="submit" data-bind="click: createSearch" class="btn btn-primary">Search</button>
</div>
<div>
    <table class="table">
        <tbody data-bind="foreach: nameSearch">
            <tr>
                <td>
                    <span data-bind="text: name"></span>
                    <button class="btn btn-info btn-sm" data-bind="click: $parent.SeeDetails">See details</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="navigation-buttons">
        <button data-bind="click: showPreviousPage, enable: enablePreviousPage">Prev</button>
        <button data-bind="click: showNextPage, enable: enableNextPage">Next</button>
    </div>
</div>