@charset "UTF-8";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css");

@font-face{
    font-family:StarWars;
    src:url(Starjedi.ttf);
}
body {
    font-family: Calibri;
    /*    font-family: Arial, Helvetica, sans-serif;
*/ background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* color:white!important

*/ 
}

.intro {
    height: 100%;
}
/* Default height for small devices */
#intro-example {
    /*    height: 400px;
*/ margin-top: 2em;
    height: auto;
    color: #e50914;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-example {
/*        height: 600px;
*/        color: #e50914;
        
    }
}
.navigation-buttons{
    margin-bottom: 400px;
  
}
#logo {
    background: -webkit-linear-gradient(#ba8b02, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*parallax effect*/
.parallax {
    /* Set a specific height */
    min-height: 250px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://media.istockphoto.com/photos/row-of-empty-red-cinema-seats-picture-id1175987609?k=20&m=1175987609&s=612x612&w=0&h=MyLiIQfuyCghNnFSrAQSrlpOQtFpBxTVCmuAV6q8Cqs=);
    margin-top: -60px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
}


h1, h2,th,thead {
    margin-top: 1em;
    padding-bottom: 1em;
    background: -webkit-linear-gradient(#ba8b02, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: StarWars;
}



.table, .table tbody, .table tr, table td {
    vertical-align: top;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.prevNextButton {
    margin: 8px;
    padding: 5px;
    border-radius: 0.25rem;
}

.searchButton {
    margin: 8px;
    padding: 2px;
    border-radius: 0.25rem;
}




