<h1>Search History</h1>

<!--<button class="btn btn-primary" data-bind="click: addCategoryView">Add Category</button>-->


<table class="table table-dark">
    <thead class="thead-dark">
        <tr><th>Search Input</th><th>Date</th><th></th></tr>
    </thead>
    <tbody data-bind="foreach: searchHistory">
        <tr>
            <td data-bind="text: filmId"></td>
            <td data-bind="text: date"></td>
            <td><button class="btn btn-danger btn-sm" data-bind="click: $parent.deleteSearchHistory">Delete</button></td>
        </tr>
    </tbody>
    
</table>
